<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
	<meta name="description" content="{{{description}}}">
	<link rel="stylesheet" href="/critical.min.css">
	<link rel="preload" href="/app.min.css" as="style" onload="this.rel='stylesheet';this.onload=null">
	{{!-- <script src="/critical.js"></script> --}}
</head>
<body>

	{{> header }}

	{{{content}}}

	<noscript>
		<link rel="stylesheet" href="/app.min.css">
	</noscript>
	{{!-- <script src="/app.js" async defer></script> --}}

</body>
</html>