<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
	<meta name="description" content="{{{description}}}">
	<link rel="stylesheet" href="/src/critical.min.css">
	<link rel="preload" href="/src/app.min.css" as="style" onload="this.rel='stylesheet';this.onload=null">
	<script src="~/src/critical.min.js"></script>
</head>
<body>

	{{{content}}}

	<noscript>
		<link rel="stylesheet" href="/src/app.min.css">
	</noscript>
	<script src="~/src/app.min.js" async defer></script>

</body>
</html>