<div>
    <ul>
        <li>
            <a href="#" target="_blank">GitHub</a>
        </li>
        <li>
            <a href="#" target="_blank">LinkedIn</a>
        </li>
        <li>
            <a href="#" target="_blank" title="I'm proudly suspended from this communist platform.">Twitter</a>
        </li>
    </ul>
</div>