<section class="topicAndPosts">
    <div>
        <svg></svg>
        <p></p>
    </div>
    <article>
        <p class="heading"></p>
        <p></p>
        <a href="/"></a>
    </article>
</section>