---
layout: layout-article.hbs
title: Content Node Icons Released for Umbraco 9
description: 
tags: Umbraco, Umbraco 9, Humble Umbraco Starter Kit
writtenDateTime: 2022-01-19T05:17:25.969Z
lastModifiedDateTime: 2022-01-19T05:17:25.969Z
---

<h1>
    {{{ title }}}
</h1>

<a href="https://www.nuget.org/packages/Humble.ContentNodeIcons/" target="_blank">Humble.ContentNodeIcons</a>

<a href="https://github.com/markadrake/U8SK.ContentNodeIcons" target="_blank">GitHub Repo</a>

<ul>
    {{#commalist tags}}
    <li>
        {{this}}
    </li>
    {{/commalist}}
</ul>
